* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
  margin: 10% 20%;
}
